@layer base {
  html {
    @apply text-base;
  }

  body {
    @apply font-sans text-battleship bg-white hyphens-auto;
    font-kerning: normal;
    -moz-font-feature-settings: "kern", "liga", "clig", "calt";
    -ms-font-feature-settings: "kern", "liga", "clig", "calt";
    -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
    font-feature-settings: "kern", "liga", "clig", "calt";
    text-rendering: optimizeLegibility;
  }

  /* inter-300 - latin */
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    src: url("@/assets/fonts/inter-v12-latin-300.eot"); /* IE9 Compat Modes */
    src: local(""),
      url("@/assets/fonts/inter-v12-latin-300.eot?#iefix")
        format("embedded-opentype"),
      /* IE6-IE8 */ url("@/assets/fonts/inter-v12-latin-300.woff2")
        format("woff2"),
      /* Super Modern Browsers */ url("@/assets/fonts/inter-v12-latin-300.woff")
        format("woff"),
      /* Modern Browsers */ url("@/assets/fonts/inter-v12-latin-300.ttf")
        format("truetype"),
      /* Safari, Android, iOS */
        url("@/assets/fonts/inter-v12-latin-300.svg#Inter") format("svg"); /* Legacy iOS */
    font-display: swap;
  }

  /* inter-600 - latin */
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    src: url("@/assets/fonts/inter-v12-latin-600.eot"); /* IE9 Compat Modes */
    src: local(""),
      url("@/assets/fonts/inter-v12-latin-600.eot?#iefix")
        format("embedded-opentype"),
      /* IE6-IE8 */ url("@/assets/fonts/inter-v12-latin-600.woff2")
        format("woff2"),
      /* Super Modern Browsers */ url("@/assets/fonts/inter-v12-latin-600.woff")
        format("woff"),
      /* Modern Browsers */ url("@/assets/fonts/inter-v12-latin-600.ttf")
        format("truetype"),
      /* Safari, Android, iOS */
        url("@/assets/fonts/inter-v12-latin-600.svg#Inter") format("svg"); /* Legacy iOS */
    font-display: swap;
  }

  /* inter-regular - latin */
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("@/assets/fonts/inter-v12-latin-regular.eot"); /* IE9 Compat Modes */
    src: local(""),
      url("@/assets/fonts/inter-v12-latin-regular.eot?#iefix")
        format("embedded-opentype"),
      /* IE6-IE8 */ url("@/assets/fonts/inter-v12-latin-regular.woff2")
        format("woff2"),
      /* Super Modern Browsers */
        url("@/assets/fonts/inter-v12-latin-regular.woff") format("woff"),
      /* Modern Browsers */ url("@/assets/fonts/inter-v12-latin-regular.ttf")
        format("truetype"),
      /* Safari, Android, iOS */
        url("@/assets/fonts/inter-v12-latin-regular.svg#Inter") format("svg"); /* Legacy iOS */
    font-display: swap;
  }

  /* inter-800 - latin */
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 800;
    src: url("@/assets/fonts/inter-v12-latin-800.eot"); /* IE9 Compat Modes */
    src: local(""),
      url("@/assets/fonts/inter-v12-latin-800.eot?#iefix")
        format("embedded-opentype"),
      /* IE6-IE8 */ url("@/assets/fonts/inter-v12-latin-800.woff2")
        format("woff2"),
      /* Super Modern Browsers */ url("@/assets/fonts/inter-v12-latin-800.woff")
        format("woff"),
      /* Modern Browsers */ url("@/assets/fonts/inter-v12-latin-800.ttf")
        format("truetype"),
      /* Safari, Android, iOS */
        url("@/assets/fonts/inter-v12-latin-800.svg#Inter") format("svg"); /* Legacy iOS */
    font-display: swap;
  }

  /* inter-900 - latin */
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    src: url("@/assets/fonts/inter-v12-latin-900.eot"); /* IE9 Compat Modes */
    src: local(""),
      url("@/assets/fonts/inter-v12-latin-900.eot?#iefix")
        format("embedded-opentype"),
      /* IE6-IE8 */ url("@/assets/fonts/inter-v12-latin-900.woff2")
        format("woff2"),
      /* Super Modern Browsers */ url("@/assets/fonts/inter-v12-latin-900.woff")
        format("woff"),
      /* Modern Browsers */ url("@/assets/fonts/inter-v12-latin-900.ttf")
        format("truetype"),
      /* Safari, Android, iOS */
        url("@/assets/fonts/inter-v12-latin-900.svg#Inter") format("svg"); /* Legacy iOS */
    font-display: swap;
  }
}

/* --- Containers ---  */

.main {
  @apply bg-white;
}

.main > section {
  @apply container mx-auto py-6;
}

/* --- Components ---  */

.header {
  @apply bg-white;
}

.header__container {
  @apply container mx-auto   
  md:(flex justify-between px-8 py-8);
}

.header__logo {
  /* @apply w-2/5; */
  @apply <sm:( flex justify-between ml-4 py-4);
}

.header__logo-image {
  @apply <sm:(w-54)
  lg:(w-76);
}

.header__nav {
  @apply flex 
  <sm:(flex-wrap w-44 fixed -right-1/2 bg-white border-light-gray shadow-lg p-2 transition-all z-30) 
  xl:(items-center justify-end mr-8);
}

.header__bars {
  @apply flex self-center pr-4 transition-all md:hidden;
}

.header__bars--expanded {
  @apply <sm:(text-gunmetal);
}

.header__nav--expanded {
  @apply <sm:(right-0);
}

.header__link {
  @apply flex-col-center text-sm font-semibold text-bdazzled
  <sm:( w-full text-xs p-3)
   md:(text-xs ml-6 p-0)
   xl:(text-sm p-4);
}

.footer {
  @apply relative flex flex-col justify-center text-white text-sm bg-footerBg bg-no-repeat bg-center bg-cover
  <sm:(h-76)
  md:(h-60 pt-10)
  xl:(h-72 pt-21);
}

.footer__container {
  @apply container mx-auto flex flex-wrap flex-col
  md:(flex-row px-4);
}

.footer__brand {
  @apply flex flex-wrap flex-col 
  <sm:(items-center)
  @md:(gap-4)
  md:(w-2/3)
  xl:(flex-row);
}

.footer__logo {
  @apply filter-to-white
  <sm:(w-16)
  md:(w-13);
}

.footer__legal {
  @apply flex-col-center py-3 
  <sm:(text-xs)
  md:(p-0)
  xl:(pl-8 py-0);
}

.footer__rrss {
  @apply flex
  md:(p-0) 
  xl:(pl-8);
}

.footer__link {
  @apply flex-col-center pl-4
  @md:(pr-4 pl-0);
}

.footer__developer {
  @apply flex flex-wrap justify-center mt-4 
  <sm:(pt-4 text-xs)
  md:(w-1/3 mt-0)
  xl:(justify-end);
}

.footer__developer-text {
  @apply flex-col-center
  md:(mt-9);
}

.footer__developer-container {
  @apply flex-col-center
  md:(mt-9);
}

.footer__developer-logo {
  @apply w-20 ml-2 filter-to-white;
}

.hero__title,
.hero__description {
  @apply text-3xl;
}

.hero__title {
  @apply font-black;
}

.hero__description {
  @apply font-normal;
}

.swiper {
  @apply w-full 
  xl:(h-auto mb-4 );
}

.swiper-slide {
  @apply <sm:(absolute max-w-full overflow-hidden);
}

.swiper-slide img {
  @apply <sm:(relative max-w-[150%] -left-[25%] !important);
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  @apply text-white;
}

.swiper .swiper-button-prev::after,
.swiper .swiper-button-next::after {
  @apply <sm:(text-base);
}

.swiper__text {
  @apply absolute  text-center text-white hyphens-none 
  <sm:(top-[25%] text-base px-6)
  xl:(top-[40%] text-3xl px-16 );
}

.app__div-footer {
  @apply absolute top-0
  @md:(-top-1);
}

.app__div-slider {
  @apply absolute bottom-0 transform rotate-180 z-20
  @md:(-bottom-1);
}

.app__separator-top {
  @apply w-full flex justify-center;
}

.app__separator-bottom {
  @apply app__separator-top transform rotate-180;
}

.app__separator-image {
  @apply <sm:(w-full)
  xl:(w-[60%]);
}

.app__hero {
  @apply w-full flex relative app-hero-bg-gradient 
  <sm:(flex-col px-6 pt-8 pb-12)
  md:(px-12 pt-10 pb-20)
  xl:(px-64 pt-28 pb-48);
}

.app__hero-content {
  @apply md:(w-full);
}

.app__hero-title {
  @apply heading-1 text-white text-center mb-2;
}

.app__hero-description {
  @apply text-white text-3xl text-center hyphens-none;
}

.app__hero-action {
  @apply mt-8 
  <sm:( )
  md:(w-1/3 flex justify-center items-center mt-0);
}

.app-highlight {
  @apply app-hero-bg-gradient bg-no-repeat bg-top bg-center bg-cover relative px-6
  <sm:(pt-8 pb-12)
  md:(px-12 pt-10 pb-20)
  xl:(px-42 pt-20 pb-24);
}

.app-highlight__description {
  @apply md:(hidden);
}

.app-highlight__wrapper {
  @apply container mx-auto flex flex-wrap;
}

.app-highlight__image {
  @apply block 
  <sm:(w-full)
  xl:(w-2/4);
}

.app-highlight__image img {
  @apply w-full;
}

.app-highlight__content {
  @apply flex flex-col gap-4 self-start text-white text-sm  
  md:(w-1/2 pl-6);
}

.app-highlight__title {
  @apply w-full heading-1 text-white border-t-1 border-t-platinum pt-4
  <sm:(border-none);
}

.app-div {
  @apply absolute left-0 bottom-0 z-20;
}

.btn {
  @apply max-w-max text-white hyphens-none bg-cerulean rounded-full px-12 py-4;
}

.btn--small {
  @apply px-4 py-2;
}

.btn--bdazzled {
  @apply bg-bdazzled;
}

.btn--self-center {
  @apply self-center;
}

/* --- Transitions ---  */

.fade-enter-active {
  transition: opacity 0.6s;
}

.fade-enter {
  opacity: 0;
}

/* --- Inicio ---  */


.especies__info {
  @apply py-16;
}

.especies__lista {
  @apply container mx-auto flex 
  <sm:(flex-col items-center)
  @md:(pt-8 px-12 ) 
  md:(flex-row flex-wrap);
}

.especies__item {
  @apply <sm:(pt-6 pb-3)
  md:(w-1/3 flex-col-center items-center);
}

.especies__titulo {
  @apply heading-4 text-center text-gunmetal !important border-b-2 border-platinum 
  <sm:(pt-0 pb-1)
  xl:(pt-6 pb-3);
}

.especies__link {
  @apply block w-full text-center text-cerulean text-xs pt-2 font-normal !important;
}

.mensaje {
  @apply heading-2 text-center px-6 text-gunmetal font-black hyphens-none
  <sm:(py-4)
  md:( px-12 py-16)
  xl:( px-48 py-18);
}

.mensaje__text {
  @apply hyphens-none
  <sm:(text-xl py-4)
  md:(py-8)
  xl:(py-18);
}

.mensaje__span {
  @apply text-cerulean;
}

.mensaje__iconos {
  @apply flex flex-wrap justify-center mb-8;
}

.mensaje__icono-contenedor {
  @apply w-10 h-10 mx-2 my-2 px-2 py-2 flex-col-center rounded-full bg-bdazzled;
}

.mensaje__icono-imagen {
  @apply filter-to-white;
}

.empresa {
  @apply;
}

.empresa__lista {
  @apply container mx-auto flex flex-col md:(flex-row flex-wrap justify-between);
}

.empresa__item {
  @apply px-4 md:(w-[33.3333333%] px-0);
}

.empresa__item-container {
  @apply m-2 flex flex-col;
}

.empresa__valor {
  @apply border rounded-t-xl text-white font-black pl-5 py-2;
}

.empresa__item:nth-child(1) .empresa__valor {
  @apply border-gunmetal bg-gunmetal;
}

.empresa__item:nth-child(2) .empresa__valor {
  @apply border-bdazzled bg-bdazzled;
}

.empresa__item:nth-child(3) .empresa__valor {
  @apply border-cerulean bg-cerulean;
}

.empresa__descripcion {
  @apply min-h-32 flex flex-col text-sm hyphens-auto rounded-b-xl p-5;
}

.empresa__item:nth-child(1) .empresa__descripcion {
  @apply border border-gunmetal;
}

.empresa__item:nth-child(2) .empresa__descripcion {
  @apply border border-bdazzled;
}

.empresa__item:nth-child(3) .empresa__descripcion {
  @apply border border-cerulean;
}

.noticias {
  @apply container mx-auto heading-2 text-center text-gunmetal font-black hyphens-none mt-12;
}

.noticias > .app__separator-bottom {
  @apply md:px-48;
}

.noticias__titulo {
  @apply heading-2 text-center my-6;
}

.noticias__lista {
  @apply flex 
  <sm:(flex-col) 
  md:(flex-row ) 
  xl:(gap-24);
}

.noticias__item {
  @apply px-4 md:(w-[33.3333333%] px-0);
}

.noticias__item-container {
  @apply m-2 flex flex-col;
}

.noticias__imagen {
  @apply rounded-md;
}

.noticias__item-titulo {
  @apply heading-5 text-left text-bdazzled !border-b-1 border-gray-300 pt-6 pb-4 font-semibold !important;
}

.contacto {
  @apply container mx-auto 
  <sm:(px-4) 
  @md:(pb-6)
  md:(px-6);
}

.contacto__titulo {
  @apply heading-2 text-center py-12;
}

.contacto__contenedor {
  @apply flex 
  <sm:(flex-col gap-4)
  md:(flex-row);
}

.contacto__mapa {
  @apply flex flex-1 items-center justify-center
  <sm:(mt-8);
}

.contacto__mapa-imagen {
  @apply px-12;
}

.contacto__informacion {
  @apply flex-1;
}

.contacto__informacion-contenedor {
  @apply flex flex-col
  <sm:(mt-8 gap-2)
  md:(mt-4 gap-4)
  xl:(flex-row gap-8 mt-24);
}

.contacto__texto {
  @apply flex items-center gap-3;
}

.contacto__texto-contenedor {
  @apply w-10 h-10 rounded-full bg-cerulean flex items-center justify-center;
}

.contacto__icono {
  @apply text-white;
}

/* Empresa */

.empresa__section {
  @apply flex flex-col 
  <sm:(my-12 )
  md:(mx-8 py-6)
  xl:(my-28 gap-24 px-48);
}

.empresa__entry {
  @apply flex 
  <xl:(mb-12 flex-wrap);
}

.empresa__entry-image-container {
  @apply flex-col-center w-[25%] bg-empresaRoundBg bg-no-repeat bg-center bg-contain  
  xl:(h-73)
}

.empresa__entry-image {
  @apply  rounded-full self-center  
  xl:(w-70 h-70);
}

.empresa__entry-content {
  @apply w-[75%]
  <sm:(w-full)
  @lg:(pl-5);
}

.empresa__entry-title {
  @apply h-10 heading-3 text-gunmetal border-b-1 border-battleship mb-2
  <sm:(flex justify-center mt-4)
  @md:(flex justify-center)
  xl:(max-w-max);
}

.empresa__entry-item {
  @apply mb-4 before:content-['🐟'] before:pr-1;
}

/* --- Products ---  */
.product__header {
  @apply py-[110px] bg-gradient-to-b from-[#1C2A35] to-[#39556E] bg-no-repeat flex flex-col relative px-6 lg:(px-48 flex-row);
}

.product__header-content {
  @apply flex-1;
}

.product__header-title {
  @apply heading-2 text-white mb-2;
}

.product__description {
  @apply text-white text-xl;
}

.product__header-action {
  @apply flex-1 flex justify-center items-center mt-8 md:mt-0;
}

.product__title {
  @apply mb-4
  <sm:(heading-2)
  md:(heading-1);
}

.product__content {
  @apply flex flex-col gap-10 px-6 mt-8   
  md:(flex-row gap-8)
  xl:(px-48);
}

.product__main {
  @apply flex-basis-[60%]
  <sm:( order-1);
}

.product__wrapper {
  @apply sticky top-4;
  animation: opac 0.8s;
  position: -webkit-sticky;
}

.product__actions {
  @apply flex flex-wrap gap-2;
}

.product__btn {
  @apply flex items-center justify-center text-sm text-bdazzled text-center align-middle rounded-md border border-bdazzled px-4 py-2
  <sm:(text-xs p-3);
}

.product__btn--active {
  @apply text-white bg-bdazzled;
}

/* tl = top left */
.product__btn--alt-tl {
  @apply rounded-tl-lg;
}

/* br = bottom right */
.product__btn--alt-br {
  @apply rounded-br-lg;
}

.product__main-image {
  @apply flex justify-center;
}

.product__main-image img {
  @apply mt-4 
  <sm:(w-full min-h-51.5) md:(max-w-full min-h-98.5);
  animation: opac 0.8s;
}

@keyframes opac {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.product__separator {
  @apply py-4 flex items-center justify-center w-full;
}

.product__separator > img {
  @apply !w-4/5;
}

.product-info {
  @apply flex flex-col;
}

.product-info__name-wrapper {
  @apply flex flex-col mb-4;
}

.product-info__title {
  @apply heading-4 text-cerulean;
}

.product-info__content {
  @apply text-xl;
}

.product-info__presentation {
  @apply flex gap-8 justify-between mt-4;
}

.product-card {
  @apply w-80;
}

.product-card__image {
  @apply rounded-lg h-44;
}

.product-card__title {
  @apply text-lg text-bdazzled mt-4 font-semibold border-b border-b-silver w-full pb-2;
}

.product__aside {
  @apply flex-basis-[20%]
  <sm:(order-2)
  @md:(flex-basis-[30%]);
}

.product__aside-title {
  @apply mb-4
  <sm:(heading-4)
  md:(heading-3);
}

/* Especies en Venezuela */

.especies {
  @apply;
}

.especies__info {
  @apply container mx-auto flex flex-col mt-4
  @md:(px-8)
  md:(flex-row)
  xl:(mt-12 gap-32);
}

.especies__info > .especies__description {
  @apply md:(flex-basis-[75%] text-gunmetal text-lg);
}

.especies__info > .btn {
  @apply mt-8 md:flex-basis-[25%];
}

.especies__content {
  @apply container mx-auto pt-6 
  @md:(px-8 !important)
  md:(pt-8);
}

.especies__content-header {
  @apply border-t border-t-[#767676] pt-8 flex flex-col 
  <sm:()
  md:(flex-row pt-12) gap-4;
}

.especies__item-link {
  @apply text-2xl text-center text-[#898989]
  <sm:(text-left)
   md:(align-middle border-r-1 border-r-gray-400 pr-4 last:border-none);
}

.especies__item-link--active {
  @apply font-bold  text-bdazzled;
}

.especies__cards-wrapper,
.blog__cards-wrapper {
  @apply grid mb-10 mt-10 
  <sm:(grid-cols-1)
  md:(grid-cols-3)
  xl:(gap-12 mt-12 mb-24);
}

/* Blog */
.blog__content {
  @apply container mx-auto;
}

.article__wrapper {
  @apply container mx-auto grid gap-14
  <sm:(px-4)
  md:(my-24)
  xl:(grid-cols-[70%,30%]);
}

.aside {
  @apply flex flex-col gap-8
  @md:(flex-row grid-cols-3 px-8)
  xl:(pl-8);
}

.article {
  @apply @md:(px-8);
}

.article__image {
  @apply w-full mt-12 rounded-tl-[20px] rounded-br-[15px] 
  md:mt-0;
}

.article__title {
  @apply mt-8 mb-4 heading-1;
}

.article__description {
  @apply text-xl;
}
