@layer base {
  html {
    @apply text-base;
  }

  body {
    @apply font-sans text-silver bg-white hyphens-auto;
    font-kerning: normal;
    -moz-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
    -ms-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
    -webkit-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
    font-feature-settings: 'kern', 'liga', 'clig', 'calt';
    text-rendering: optimizeLegibility;
  }

  /* inter-300 - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    src: url('@/assets/fonts/inter-v12-latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
      url('@/assets/fonts/inter-v12-latin-300.eot?#iefix')
        format('embedded-opentype'),
      /* IE6-IE8 */ url('@/assets/fonts/inter-v12-latin-300.woff2')
        format('woff2'),
      /* Super Modern Browsers */ url('@/assets/fonts/inter-v12-latin-300.woff')
        format('woff'),
      /* Modern Browsers */ url('@/assets/fonts/inter-v12-latin-300.ttf')
        format('truetype'),
      /* Safari, Android, iOS */
        url('@/assets/fonts/inter-v12-latin-300.svg#Inter') format('svg'); /* Legacy iOS */
    font-display: swap;
  }

  /* inter-600 - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: url('@/assets/fonts/inter-v12-latin-600.eot'); /* IE9 Compat Modes */
    src: local(''),
      url('@/assets/fonts/inter-v12-latin-600.eot?#iefix')
        format('embedded-opentype'),
      /* IE6-IE8 */ url('@/assets/fonts/inter-v12-latin-600.woff2')
        format('woff2'),
      /* Super Modern Browsers */ url('@/assets/fonts/inter-v12-latin-600.woff')
        format('woff'),
      /* Modern Browsers */ url('@/assets/fonts/inter-v12-latin-600.ttf')
        format('truetype'),
      /* Safari, Android, iOS */
        url('@/assets/fonts/inter-v12-latin-600.svg#Inter') format('svg'); /* Legacy iOS */
    font-display: swap;
  }

  /* inter-regular - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('@/assets/fonts/inter-v12-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
      url('@/assets/fonts/inter-v12-latin-regular.eot?#iefix')
        format('embedded-opentype'),
      /* IE6-IE8 */ url('@/assets/fonts/inter-v12-latin-regular.woff2')
        format('woff2'),
      /* Super Modern Browsers */
        url('@/assets/fonts/inter-v12-latin-regular.woff') format('woff'),
      /* Modern Browsers */ url('@/assets/fonts/inter-v12-latin-regular.ttf')
        format('truetype'),
      /* Safari, Android, iOS */
        url('@/assets/fonts/inter-v12-latin-regular.svg#Inter') format('svg'); /* Legacy iOS */
    font-display: swap;
  }

  /* inter-800 - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    src: url('@/assets/fonts/inter-v12-latin-800.eot'); /* IE9 Compat Modes */
    src: local(''),
      url('@/assets/fonts/inter-v12-latin-800.eot?#iefix')
        format('embedded-opentype'),
      /* IE6-IE8 */ url('@/assets/fonts/inter-v12-latin-800.woff2')
        format('woff2'),
      /* Super Modern Browsers */ url('@/assets/fonts/inter-v12-latin-800.woff')
        format('woff'),
      /* Modern Browsers */ url('@/assets/fonts/inter-v12-latin-800.ttf')
        format('truetype'),
      /* Safari, Android, iOS */
        url('@/assets/fonts/inter-v12-latin-800.svg#Inter') format('svg'); /* Legacy iOS */
    font-display: swap;
  }

  /* inter-900 - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    src: url('@/assets/fonts/inter-v12-latin-900.eot'); /* IE9 Compat Modes */
    src: local(''),
      url('@/assets/fonts/inter-v12-latin-900.eot?#iefix')
        format('embedded-opentype'),
      /* IE6-IE8 */ url('@/assets/fonts/inter-v12-latin-900.woff2')
        format('woff2'),
      /* Super Modern Browsers */ url('@/assets/fonts/inter-v12-latin-900.woff')
        format('woff'),
      /* Modern Browsers */ url('@/assets/fonts/inter-v12-latin-900.ttf')
        format('truetype'),
      /* Safari, Android, iOS */
        url('@/assets/fonts/inter-v12-latin-900.svg#Inter') format('svg'); /* Legacy iOS */
    font-display: swap;
  }
}

/* --- Containers ---  */

.main {
  @apply bg-white;
}

.main > section {
  @apply container mx-auto py-6;
}

/* --- Components ---  */

.header {
  @apply bg-white;
}

.header__container {
  /* @apply container mx-auto my-6 flex flex-wrap content-center h-28; */
  @apply container mx-auto 
  xl:(flex justify-between p-8);
}

.header__logo {
  /* @apply w-2/5; */
  @apply <sm:(flex justify-between ml-4 py-4);
}

.header__logo-image {
  /* @apply w-76; */
  @apply <sm:(w-16);
}

.header__nav {
  @apply flex 
  <sm:(flex-wrap w-1/2 fixed -right-1/2 bg-white border-light-gray shadow-lg p-4 transition-all z-30) 
  xl:(items-center justify-end mr-8);
}

.header__bars {
  @apply flex self-center mr-4 transition-all md:hidden;
}

.header__bars--expanded {
  @apply <sm:(text-gunmetal);
}

.header__nav--expanded {
  @apply <sm:(right-0);
}

.header__link {
  @apply flex-col-center text-sm font-semibold text-bdazzled p-4 md:(ml-12 p-0);
}

.footer {
  @apply relative h-72 flex flex-col justify-end text-white text-sm bg-footerBg bg-no-repeat bg-center bg-cover pb-21;
}

.footer__container {
  @apply container mx-auto flex flex-wrap flex-col md:flex-row;
}

.footer__brand {
  @apply flex flex-wrap flex-col items-center md:(flex-row w-2/3);
}

.footer__logo {
  @apply w-13 filter-to-white;
}

.footer__legal {
  @apply flex-col-center py-3 md:(pl-8 py-0);
}

.footer__rrss {
  @apply flex md:pl-8;
}

.footer__link {
  @apply flex-col-center pl-4;
}

.footer__developer {
  @apply flex flex-wrap justify-center mt-4 md:(w-1/3 justify-end mt-0);
}

.footer__developer-text {
  @apply flex-col-center;
}

.footer__developer-container {
  @apply flex-col-center;
}

.footer__developer-logo {
  @apply w-20 ml-2 filter-to-white;
}

.hero__title,
.hero__description {
  @apply text-3xl;
}

.hero__title {
  @apply font-black;
}

.hero__description {
  @apply font-normal;
}

.swiper {
  @apply w-full mb-4 xl:h-auto;
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  @apply text-white;
}
f .swiper__slide {
  @apply relative z-10;
}

.swiper__text {
  @apply absolute top-[40%] text-3xl text-center text-white hyphens-none px-16;
}

.app__div-footer {
  @apply absolute top-0;
}

.app__div-slider {
  @apply absolute bottom-0 transform rotate-180 z-20;
}

.app__separator-top {
  @apply w-full flex justify-center;
}

.app__separator-bottom {
  @apply app__separator-top transform rotate-180;
}

.app__separator-image {
  @apply w-[60%];
}

/* --- Transitions ---  */

.fade-enter-active {
  transition: opacity 0.6s;
}

.fade-enter {
  opacity: 0;
}

/* --- Inicio ---  */

.especies__lista {
  @apply flex flex-col items-center md:(flex-row flex-wrap);
}

.especies__item {
  @apply lg:(w-1/3 flex-col-center items-center);
}

.especies__titulo {
  @apply heading-4 text-gunmetal !important border-b-2 border-platinum pt-6 pb-3;
}

.especies__link {
  @apply text-cerulean text-xs pt-2;
}

.mensaje {
  @apply heading-2 text-center px-6 md:(text-gunmetal font-black hyphens-none px-48 py-18);
}

.mensaje__text {
  @apply py-18;
}

.mensaje__span {
  @apply text-cerulean;
}

.mensaje__iconos {
  @apply flex flex-wrap justify-center mb-8;
}

.mensaje__icono-contenedor {
  @apply w-10 h-10 mx-2 my-2 px-2 py-2 flex-col-center rounded-full bg-bdazzled;
}

.mensaje__icono-imagen {
  @apply filter-to-white;
}

.empresa {
  @apply;
}

.empresa__lista {
  @apply flex flex-col md:(flex-row flex-wrap mx-12 justify-between);
}

.empresa__item {
  @apply px-4 md:(w-[33.3333333%] px-0);
}

.empresa__item-container {
  @apply m-2 flex flex-col;
}

.empresa__valor {
  @apply border rounded-t-xl text-white font-black pl-5 py-2;
}

.empresa__item:nth-child(1) .empresa__valor {
  @apply border-gunmetal bg-gunmetal;
}

.empresa__item:nth-child(2) .empresa__valor {
  @apply border-bdazzled bg-bdazzled;
}

.empresa__item:nth-child(3) .empresa__valor {
  @apply border-cerulean bg-cerulean;
}

.empresa__descripcion {
  @apply min-h-32 flex flex-col text-sm hyphens-auto rounded-b-xl p-5;
}

.empresa__item:nth-child(1) .empresa__descripcion {
  @apply border border-gunmetal;
}

.empresa__item:nth-child(2) .empresa__descripcion {
  @apply border border-bdazzled;
}

.empresa__item:nth-child(3) .empresa__descripcion {
  @apply border border-cerulean;
}

.noticias {
  @apply heading-2 text-center text-gunmetal font-black hyphens-none mt-12;
}

.noticias > .app__separator-bottom {
  @apply md:px-48;
}

.noticias__titulo {
  @apply heading-2 text-center my-6;
}

.noticias__lista {
  @apply flex flex-col md:(flex-row gap-24 mx-12);
}

.noticias__item {
  @apply px-4 md:(w-[33.3333333%] px-0);
}

.noticias__item-container {
  @apply m-2 flex flex-col;
}

.noticias__imagen {
  @apply rounded-md;
}

.noticias__item-titulo {
  @apply heading-5 text-left text-bdazzled !border-b-2 border-gray-400 pt-6 pb-4;
}

.contacto {
  @apply px-4 md:px-16;
}

.contacto__titulo {
  @apply heading-2 text-center py-12;
}

.contacto__contenedor {
  @apply flex flex-col gap-4 md:(flex-row);
}

.contacto__mapa {
  @apply mt-8 flex-1 flex items-center justify-center lg:mt-0;
}

.contacto__mapa-imagen {
  @apply;
}

.contacto__informacion {
  @apply flex-1;
}

.contacto__informacion-contenedor {
  @apply flex flex-col mt-8 gap-4 md:(flex-row gap-8 mt-24);
}

.contacto__texto {
  @apply flex items-center gap-3;
}

.contacto__texto-contenedor {
  @apply w-10 h-10 rounded-full bg-cerulean flex items-center justify-center;
}

.contacto__icono {
  @apply text-white;
}

/* Empresa */
.empresa__header {
  @apply py-[110px] bg-gradient-to-b from-[#1C2A35] to-[#39556E] bg-no-repeat flex flex-col relative px-6 lg:(px-48 flex-row);
}

.empresa__header-content {
  @apply flex-1;
}

.empresa__header-title {
  @apply heading-2 text-white mb-2;
}

.empresa__description {
  @apply text-white text-xl;
}

.empresa__header-action {
  @apply flex-1 flex justify-center items-center mt-8 md:mt-0;
}

.empresa__container {
  @apply flex flex-col my-8 gap-12 px-6 lg:(my-28 gap-24 px-48);
}

.empresa__inner-section {
  @apply flex flex-col items-center gap-8 md:(gap-12 flex-row);
}

.empresa__image {
  @apply w-60 h-60 rounded-full;
}

.empresa__content {
  @apply;
}

.empresa__section-title {
  @apply heading-3 text-gunmetal;
}

.empresa__title-divition {
  @apply my-2 ml-8 h-[1px] w-52 bg-[#767676];
}

.empresa__section-content {
  @apply;
}

.empresa__section-list {
  @apply;
}

.empresa__section-item {
  @apply mb-4 before:content-['🐟'] before:pr-2;
}

/* --- Products ---  */
.product__header {
  @apply py-[110px] bg-gradient-to-b from-[#1C2A35] to-[#39556E] bg-no-repeat flex flex-col relative px-6 lg:(px-48 flex-row);
}

.product__header-content {
  @apply flex-1;
}

.product__header-title {
  @apply heading-2 text-white mb-2;
}

.product__description {
  @apply text-white text-xl;
}

.product__header-action {
  @apply flex-1 flex justify-center items-center mt-8 md:mt-0;
}

.app-div {
  @apply absolute left-0 bottom-0 z-20;
}

.btn {
  @apply bg-cerulean w-64 h-16 px-6 py-4 text-white rounded-tl-lg rounded-br-lg;
}

.product__title {
  @apply heading-1 mb-4;
}

.product__content {
  @apply flex flex-col gap-10 px-6 mt-8 md:(flex-row gap-24 px-48);
}

.product__main {
  @apply border-red-200 flex-basis-[60%];
}

.product__actions {
  @apply flex gap-8 justify-between;
}

.product__btn {
  @apply w-32 h-11 py-4 px-6 bg-cerulean text-white text-center align-middle flex items-center justify-center first:rounded-tl-lg last:rounded-br-lg;
}

.product__btn--active {
  @apply bg-bdazzled;
}

/* tl = top left */
.product__btn--alt-tl {
  @apply rounded-tl-lg;
}

/* br = bottom right */
.product__btn--alt-br {
  @apply rounded-br-lg;
}

.product__main-image {
  @apply mt-4 w-full h-96 rounded-tl-[20px] rounded-br-[20px];
}

.product__separator {
  @apply py-4 flex items-center justify-center w-full;
}

.product__separator > img {
  @apply !w-4/5;
}

.product-info {
  @apply flex flex-col;
}

.product-info__name-wrapper {
  @apply flex flex-col mb-4;
}

.product-info__title {
  @apply heading-4 text-cerulean;
}

.product-info__content {
  @apply text-xl;
}

.product-info__presentation {
  @apply flex gap-8 justify-between mt-4;
}

.product-card {
  @apply w-80;
}

.product-card__image {
  @apply rounded-lg h-44;
}

.product-card__title {
  @apply text-lg text-bdazzled mt-4 font-semibold border-b border-b-silver w-full pb-2;
}

/* Product Aside */
.p-aside {
  @apply flex-basis-[20%] mt-14;
}

/* Especies en Venezuela */
/* TODO: Replace bg-footerBg by the right bg */
.main-notice {
  @apply relative flex flex-col items-center justify-between text-white text-sm bg-footerBg bg-no-repeat bg-center bg-cover md:(h-[39.68rem] px-48 pb-21 flex-row);
}

.main-notice__image {
  @apply bg-[#d9d9d9] w-11/12 mt-8 h-52 rounded-tl-3xl rounded-br-2xl md:(h-[23.75rem] w-[39.6rem] mt-0);
}

.main-notice__content {
  @apply flex flex-col self-start my-12 px-8 justify-between lg:(px-0 mt-24 h-72 w-[394px]);
}

.btn--small {
  @apply h-9 flex items-center justify-center;
}

.main-notice__wrapper {
  @apply my-4;
}

.main-notice__title {
  @apply heading-2 border-t-2 border-t-gray-500 pt-8 text-white w-full;
}

.btn--bdazzled {
  @apply bg-bdazzled;
}

.btn--self-center {
  @apply self-center;
}

.especies__info {
  @apply flex flex-col px-8 mt-4 md:(flex-row px-48 mt-12 gap-32);
}

.especies__info > .especies__description {
  @apply md:flex-basis-[75%] text-gunmetal text-lg;
}

.especies__info > .btn {
  @apply mt-8 md:flex-basis-[25%];
}

.especies__content {
  @apply pt-6 px-6 lg:(px-48 pt-8);
}

.especies__content-header {
  @apply border-t border-t-[#767676] pt-8 flex flex-col md:(flex-row pt-12) gap-4;
}

.especies__item-link {
  @apply heading-4 text-center text-[#898989] md:(heading-3 align-middle border-r-3 border-r-gray-400 pr-4 last:border-none);
}

.especies__item-link--active {
  @apply text-bdazzled;
}

.especies__cards-wrapper,
.blog__cards-wrapper {
  @apply grid mb-10 mt-10 md:(grid-cols-3 gap-12 mt-12 mb-24);
}

/* Blog */
.blog__content {
  @apply px-8 md:px-48;
}

.article {
  @apply md:w-[680px];
}

.article__image {
  @apply mt-12 rounded-tl-[20px] rounded-br-[15px] md:mt-0;
}

.article__title {
  @apply my-4 heading-2;
}
